<!DOCTYPE html>
<html>
<head>
  <title>Sparta Micro-Services deployment with Kubernetese</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }
    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);
    }
    img {
      width: 150px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to Sparta Micro-Services Architecture Deployment with Kubernetes</h1>
    <img src="/images/squarelogo.jpg" />
    
    <h1>We Have successfully achieved to deploy our app using Kubernetes with Scalability and High Availability!</h1>
    <img src="/images/k8.png" />
    
    
    <h1>The Node App is running inside a Docker container</h1>
    <img src="/images/dockerisenodejs.png" />
    <h1>We have succesfully created a Micro-Service for our front end!</h1>
    
    
  </div>
</body>
</html>
